#
# {{ ansible_managed }}
#

## Network interfaces
{% if ntp__listen|unique|length == 0 %}
# ntpd will listen on all interfaces
{% else %}
# Addresses to listen on, default is to block everything
interface ignore ipv4
interface ignore ipv6
{%   for address in ntp__listen %}
interface listen {{ address }}
{%   endfor %}
{% endif %}

## Access control configuration; see /usr/share/doc/ntp-doc/html/accopt.html
{% for rule in ntp__default_restrict_rules %}
restrict {{ rule }}
{% endfor %}
{% if ntp__restrict_rules|length > 0 %}
{%   for key, value in ntp__restrict_rules|dictsort %}
restrict {{ key|ipaddr('network') }} mask {{ key|ipaddr('netmask') }} {{ value }}
{%   endfor %}
{% endif %}

{% if ntp__clientlimit is defined %}
clientlimit {{ ntp__clientlimit }}
{% endif %}
{% if ntp__clientperiod is defined %}
clientperiod {{ ntp__clientperiod }}
{% endif %}

## References
# List of NTP servers to synchronize with
{% if ntp__servers is string %}
server {{ ntp__servers }}
{% else %}
{%   for address in ntp__servers %}
server {{ address }}
{%   endfor %}
{% endif %}

{% if ntp__broadcast|d([])|length > 0 %}
# List of address to which the server will broadcast time
{%   for address in ntp__broadcast|d([]) %}
broadcast  {{ address }}
{%   endfor %}
{% endif %}

# Local references
{% for ref in ntp__local_references|d([]) %}
# {{ ntp__local_reference_types[ref.type] }}
server 127.127.{{ ref.type }}.{{ ref.type|d(0) }}
fudge 127.127.{{ ref.type }}.{{ ref.type|d(0) }}{% for key, value in ref.parameters|d({})|dictsort %} {{ key }} {{ value }}{% endfor %}
{% endfor %}

# Facilities
{% for key, value in ntp__faciities|dictsort %}
{%   if value|bool %}
enable {{ key }}
{%   else %}
disable {{ key }}
{%   endif %}
{% endfor %}

# Drift file.  Put this in a directory which the daemon can write to.
driftfile {{ ntp__drift_file }}

{% if ntp__statistics_dir is defined %}
statsdir {{ ntp__statistics_dir }}
{% endif %}

{% if true in ntp__statistics.values() %}
statistics{% for key, value in ntp__statistics|dictsort %}{% if value|bool %} {{ key }}{% endif %}{% endfor %}

{%   for rule in ntp__statistics_filegen|d([]) %}
filegen {{ rule.name }} file {{ rule.file }} type {{ rule.type }} {{ rule.link|d(true)|ternary('link', 'no-link') }} {{ rule.enable|d(true)|ternary('enable', 'disable') }}
{%   endfor %}
{% endif %}

## Cryptography
# Key file containing the keys and key identifiers used when operating
# with symmetric key cryptography.
keys {{ ntp__keys_file }}
# Include crypto passwords file
includefile {{ ntp__keys_password_file }}



## UNMANAGED

#broadcastclient                        # broadcast client
#multicastclient 224.0.1.1              # multicast client
#manycastserver 239.255.254.254         # manycast server
#manycastclient 239.255.254.254 key 42  # manycast client



# Specify the key identifiers which are trusted.
#trustedkey 4 8 42

# Specify the key identifier to use with the ntpdc utility.
#requestkey 8

# Specify the key identifier to use with the ntpq utility.
#controlkey 8
